.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/*******************
RESPONSIVE
********************/

@media screen and (max-width: 420px) {
  body {
    margin: 0 20px;
    font-size: 14px;
    font-family: sans-serif;
  }

  .container {
    padding: 10px;
  }

  .row {
    width: 100%;
    margin: 20px auto;
  }

  img {
    width: 100%;
    height: 70px;
    object-fit: contain;
    margin:10px auto;
  }

  .row h1 {
    width: 100%;
    margin: 15px 0;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 45%;
    text-align: left;
    float: none;
  }

  .row > .left {
    margin-right: 10%;
  }  

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .row h3 {
    margin: 10px auto;
    text-align: center;
  }

  #steps .row {
    justify-content: center;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 45%;
    text-align: left;
    margin-bottom: 15px;
  }
  
  #why .row .first,
  #why .row .second,
  #why .row .third {
    margin: 15px;
  }

  #why .row img {
    width: 70px;
  }

  #why hr {
    margin: 15px auto;
  }

}

@media screen and (min-width: 420px) and (max-width: 992px) {
  body {
    margin: 0 20px;
    font-size: 14px;
    font-family: sans-serif;
  }

  .container {
    padding: 10px;
  }

  .row {
    width: 100%;
    margin: 20px auto;
  }

  img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin:10px auto;
  }

  .row h1 {
    width: 100%;
    margin: 15px 0;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 45%;
    text-align: left;
    float: none;
  }

  #lezioni .row > .left {
    margin-right: 10%;
  }  

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .row h3 {
    margin: 10px auto;
    text-align: center;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 30%;
    text-align: left;
    margin-bottom: 15px;
  }

  #steps .row > .left,
  #steps .row > .central {
    margin-right: 5%;
  }
  
  #why .row .first,
  #why .row .second,
  #why .row .third {
    margin: 15px;
  }

  #why .row img {
    width: 100px;
  }

  #why hr {
    margin: 15px auto;
  }
}